@{
    ViewBag.Title = "Card details";
}

@model RgTrello.Models.Cards.CardModel

@if (Model.Error)
{
    <div class="alert alert-danger">
        <strong>Whoops...</strong> Something happened...
    </div>
}

@if (Model.CardWasFound)
{
    <h1>@Model.Name</h1>

    if (string.IsNullOrEmpty(Model.Description))
    {
        <i>No description...</i>
    }
    else
    {
        <p>@Model.Description</p>
    }

    using (Html.BeginForm("Card", "Cards", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(x => x.Id);
        @Html.HiddenFor(x => x.Name);
        @Html.HiddenFor(x => x.Description);
        @Html.HiddenFor(x => x.CardWasFound);

        <div class="form-group">
            <label class="control-label">Add a comment:</label>
            @Html.TextAreaFor(x => x.NewComment, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Post comment" class="btn btn-default" />
        </div>        
    }
}
else
{
    <h1><i>Card not found</i></h1>
}